---
title: Beratung
description: Ein allgemeiner Ernährungsscheck kann Ihnen helfen Lebenssituationen durch gesunde Ernährung positiv zu beeinflussen.
tags: page
icon: M33.3 16.7c3.4 5-5 20-8.3 20-3.3 0-3.3-1.7-5-1.7-1.7 0-1.7 1.7-5 1.7s-11.7-15-8.3-20c3.3-5 8.3-5 11.6-3.4v-5c-9.3 5.1-11.5-2-11.5-2s4.5-6 11.5 2V5h3.4v8.3a8.8 8.8 0 0111.6 3.4z
color: beratung
layout: default
---

{% include "hero-service.njk" %}

<section class="text-gray-700 dark:text-gray-300">
  <div class="container flex flex-wrap px-5 py-16 mx-auto items-start">
    <div class="lg:w-2/3 lg:pr-32 md:py-8 mb-8">
      <h1 class="lg:text-4xl text-2xl font-extrabold">
        Worum geht es bei einer Ernährungsberatung?
      </h1>
      <p class="lg:text-xl lg:leading-8 text-lg my-8">
        Diese Leistung richtet sich an Patienten, deren Erkrankung durch eine
        Ernährungsumstellung günstig beeinflusst werden kann. Sie stellt eine
        wesentliche Ergänzung zur ärztlichen Therapie dar.
      </p>
      <p class="text-lg">
        Im Rahmen der Ernährungsberatung erfolgt neben einer sorgfältigen
        Ernährungsanamnese auch eine professionelle Nährwertanalyse auf der
        Basis Ihres Ernährungsprotokolls. An Hand dieser Ergebnisse sind
        konkrete Aussagen möglich hinsichtlich Ihrer Nährstoffversorgung und den
        Veränderungsmöglichkeiten Ihres Essverhaltens.
      </p>
      <div class="flex my-8 -mx-4">
        {% Image "images/beratungsraum01.jpg", "companyLogo", "rounded px-4
        object-cover object-center" %} {% Image "images/beratungsraum02.jpg",
        "companyLogo", "rounded px-4 object-cover object-center" %}
      </div>
      <p class="text-lg">
        Ich biete ebenfalls Beratungen im Rahmen des
        <a
          class="underline text-primary-700"
          href="/betriebliche-gesundheitsfoerderung"
          >Betrieblichen Gesundheitsmanagement</a
        >, Fachvorträge oder auch Seminare und Projekte zum Thema Gesundheit und
        Wohlbefinden.
      </p>
    </div>
    <div
      class="flex flex-col w-full lg:w-1/3 p-4 md:p-8 bg-white dark:bg-gray-800 dark:text-gray-300 rounded-lg shadow-xl"
    >
      <h2 class="lg:text-4xl text-2xl mb-5 font-extrabold">
        Wem oder Wann kann eine Beratung Ihnen helfen?
      </h2>
      <ul>
        <li class="flex items-center mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="flex-none w-6 h-6 mr-4"
          >
            <path fill="#87B645" d="M12 13H4v-2h8V4l8 8-8 8v-7z" /></svg
          >Säuglinge und Kleinkinder
        </li>
        <li class="flex items-center mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="flex-none w-6 h-6 mr-4 text-{{ color }}"
          >
            <path fill="currentColor" d="M12 13H4v-2h8V4l8 8-8 8v-7z" /></svg
          >Schwangere und Stillende
        </li>
        <li class="flex items-center mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="flex-none w-6 h-6 mr-4 text-{{ color }}"
          >
            <path fill="currentColor" d="M12 13H4v-2h8V4l8 8-8 8v-7z" /></svg
          >Kinder und Jugendliche
        </li>
        <li class="flex items-center mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="flex-none w-6 h-6 mr-4 text-{{ color }}"
          >
            <path fill="currentColor" d="M12 13H4v-2h8V4l8 8-8 8v-7z" /></svg
          >Sportler, sowie gesundheitsbewusste Senioren
        </li>
        <li class="flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="flex-none w-6 h-6 mr-4 text-{{ color }}"
          >
            <path fill="currentColor" d="M12 13H4v-2h8V4l8 8-8 8v-7z" /></svg
          >bei starker Beanspruchung in Berufs- und Privatleben
        </li>
      </ul>
      <a
        href="/kontakt"
        class="inline-flex justify-center max-w-max text-gray-100 bg-{{
          color
        }} mt-5 border-0 text-base py-2 px-3 lg:px-8 focus:outline-none hover:bg-{{
          color
        }} rounded-full lg:text-lg"
      >
        Termin vereinbaren
      </a>
    </div>
  </div>
</section>

{% include "services.njk" %}
