---
title: Impressum
tags: page
icon: M20 5a5 5 0 00-4.7 3.3H5v3.4h3.3l-5 11.6c-.7 3.4 1.7 5 5.9 5 4.1 0 6.7-1.6 5.8-5l-5-11.6h5.3a5.3 5.3 0 003 3v18.6h-15v3.4h33.4v-3.4h-15V14.7a5.1 5.1 0 003-3h5.2L25 23.3c-.8 3.4 1.7 5 5.8 5 4.2 0 6.8-1.6 5.9-5l-5-11.6H35V8.3H24.7A5 5 0 0020 5zm0 3.3a1.7 1.7 0 110 3.4 1.7 1.7 0 010-3.4zM9.2 17.1l2.5 6.2h-5l2.5-6.2zm21.6 0l2.5 6.2h-5l2.5-6.2z
color: beratung
layout: default
---

{% include "hero-service.njk" %}

<section class="text-gray-700">
  <div class="max-w-2xl px-5 py-16 mx-auto">
    <div class="mb-8">
      <h1 class="text-2xl font-extrabold">
        Anbieterkennzeichnung nach § 5 Telemediengesetz (TMG), Administrator:
      </h1>
      <p class="lg:text-xl lg:leading-8 text-lg my-8">
        Gerrit Halfmann <br />
        gerrit@gerrithalfmann.com
      </p>
  </div>
  <div class="mb-8">
    <h1 class="text-2xl font-extrabold">
      Verantwortlich für die Inhalte:
    </h1>
    <p class="lg:text-xl lg:leading-8 text-lg my-8">
      Ute Becker <br />
      Schlenke 7 <br />
      46514 Schermbeck <br />
      info@eb-becker.de
    </p>
</div>
<div class="mb-8">
  <h1 class="text-2xl font-extrabold">
    Haftungshinweis zu externen Links:
  </h1>
  <p class="lg:text-xl lg:leading-8 text-lg my-8">
    Trotz sorgfältiger inhaltlicher Kontrolle, übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. Diese Erklärung gilt für alle auf der Homepage angezeigten Links und für alle Inhalte der Seiten, zu denen diese Links führen.
  </p>
</div>
</section>

{% include "services.njk" %}
