---
title: Profil
description: Diätassistentin, Ernährungsberaterin / DGE
tags: page
icon: M20 6.7A6.7 6.7 0 1120 20a6.7 6.7 0 010-13.3zm0 16.6c7.4 0 13.3 3 13.3 6.7v3.3H6.7V30c0-3.7 6-6.7 13.3-6.7z
color: beratung
layout: default
---

{% include "hero-service.njk" %}

<section class="text-gray-700">
  <div class="container flex flex-wrap px-5 py-16 mx-auto items-start">
    <div class="lg:w-2/3 lg:pr-32 md:py-8">
      <h1 class="block lg:text-4xl text-2xl mb-6 font-extrabold">Über mich:</h1>
      <p class="lg:text-xl lg:leading-8 text-lg mb-8">
        Durch die Zertifizierungen bei der DGE (Deutsche Gesellschaft für
        Ernährung in Bonn) bin ich bei Krankenkassen anerkannt und arbeite mit
        Ärzten und Spezialisten aus anderen angrenzenden Fachbereichen wie
        Psychologie, Physiotherapie aktiv zusammen.
      </p>
      <p class="mb-16">
        Eine professionelle Ernährungsberatung benötigen Sie vielleicht nur
        einmal im Leben – aber ein Leben lang können Sie davon profitieren.
        Gerne begleite und unterstütze ich Sie auf Ihrem Weg zu einer gesunden
        Ernährung. Ich beraten Sie, wenn Sie mit Ihrer Ernährung aus dem
        Gleichgewicht geraten sind, und wieder Sicherheit und Freude beim Essen
        empfinden möchten.
      </p>
      <h2 class="block lg:text-4xl text-2xl mb-6 mt-8 font-extrabold">
        Meine Qualifikationen
      </h2>
      <ul>
        <li class="flex items-center mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="flex-none w-6 h-6 mr-4"
          >
            <path fill="#444" d="M12 13H4v-2h8V4l8 8-8 8v-7z" /></svg
          >Wollen Sie eine qualifizierte, produktunabhängige und persönliche
          Beratung?
        </li>
        <li class="flex items-center mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="flex-none w-6 h-6 mr-4"
          >
            <path fill="#444" d="M12 13H4v-2h8V4l8 8-8 8v-7z" /></svg
          >Wollen Sie eine Beratung nach den Beratungsstandards der DGE * und
          den aktuell gültigen wissenschaftlichen Leitlinien?
        </li>
        <li class="flex items-center mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="flex-none w-6 h-6 mr-4"
          >
            <path fill="#444" d="M12 13H4v-2h8V4l8 8-8 8v-7z" /></svg
          >Wollen Sie eine Beratung, in der Sie und nicht Trends und Normen im
          Mittelpunkt stehen?
        </li>
        <li class="flex items-center mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="flex-none w-6 h-6 mr-4"
          >
            <path fill="#444" d="M12 13H4v-2h8V4l8 8-8 8v-7z" /></svg
          >Wollen Sie Ihre Lebensqualität und Ihr persönliches Wohlbefinden
          verbessern?
        </li>
      </ul>
      <p class="p-4 border-2 border-gray-200 rounded-lg text-lg mt-8">
        Sollten Sie auf diese oder noch weitere Fragen Antworten suchen, dann
        nehmen Sie einfach
        <a href="/kontakt" class="underline text-primary-800">Kontakt</a> mit
        mir auf!
      </p>
    </div>

    <div class="flex flex-col w-full lg:w-1/3">
      <div class="flex my-8 -mx-4">
        {% Image "images/UteBeckerProfile03.jpg", "companyLogo", "rounded-xl
        object-cover object-center max-h-56 shadow-xl", "px-4" %} {% Image
        "images/UteBeckerPresentation.jpg", "companyLogo", "rounded-xl
        object-cover object-center max-h-56 shadow-xl", "px-4" %}
      </div>
      <div class="flex flex-col p-4 md:p-8 bg-white rounded-lg shadow-xl">
        <h2 class="lg:text-4xl text-2xl mb-6 font-extrabold">
          Mitgliedschaft:
        </h2>
        <p class="mb-4">
          Deutscher Allergie- und Asthmabund -
          <a class="text-primary-800 underline" href="https://www.daab.de/"
            >daab.de</a
          >
        </p>
        <p class="mb-4">
          Deutsche Zöliakie Gesellschaft -
          <a
            class="text-primary-800 underline"
            href="https://www.dzg-online.de/"
            >dzg-online.de</a
          >
        </p>
        <p class="mb-4">
          Verband der Diätassistenten, Deutscher Bundesverband e.V. -
          <a class="text-primary-800 underline" href="https://www.vdd.de/"
            >vdd.de</a
          >
        </p>
        <p class="mb-4">
          Adipositas Verband Deutschland e.V. -
          <a
            class="text-primary-800 underline"
            href="https://www.adipositasverband.de/"
            >adipositasverband.de</a
          >
        </p>
      </div>
    </div>
  </div>
</section>

{% include "services.njk" %}
