---
title: Ernährungstherapie
description: Eine Ernährungsumstellung ist eine wesentliche Ergänzung zur ärztlichen Therapie und beeinflusst den Heilungsprozess positiv.
tags: page
icon: M18.3 3.3A13.3 13.3 0 0131.6 15l3.7 6c.3.3.2 1-.4 1.2l-3.2 1.3v5a3.3 3.3 0 01-3.4 3.3H25v5H10v-6.2c0-2-.7-3.8-2-5.5A13.3 13.3 0 0118.2 3.3zm0 8.4a1.7 1.7 0 00-1.6 1.6V15H15a1.7 1.7 0 000 3.3h1.7V20a1.7 1.7 0 003.3 0v-1.7h1.7a1.7 1.7 0 000-3.3H20v-1.7a1.7 1.7 0 00-1.7-1.6z
color: therapie
layout: default
---

{% include "hero-service.njk" %}

<section class="text-gray-700 dark:text-gray-300">
  <div class="container flex flex-wrap px-5 py-16 mx-auto items-start">
    <div class="lg:w-2/3 lg:pr-32 md:py-8 mb-8">
      <h1 class="lg:text-4xl text-2xl mb-5 font-extrabold">
        Worum geht es bei einer Ernährungstherapie?
      </h1>
      <p class="lg:text-xl lg:leading-8 text-lg my-8">
        Diese Leistung richtet sich an Patienten, deren Erkrankung durch eine
        Ernährungsumstellung günstig beeinflusst werden kann. Sie stellt eine
        wesentliche Ergänzung zur ärztlichen Therapie dar.
      </p>
      <p class="text-lg mb-8">
        Im Rahmen der Ernährungsberatung erfolgt neben einer sorgfältigen
        Ernährungsanamnese auch eine professionelle Nährwertanalyse auf der
        Basis Ihres Ernährungsprotokolls. An Hand dieser Ergebnisse sind
        konkrete Aussagen möglich hinsichtlich Ihrer Nährstoffversorgung und den
        Veränderungsmöglichkeiten Ihres Essverhaltens.
      </p>
      <div class="flex my-8 -mx-4">
        {% Image "images/beratungsraum03.jpg", "companyLogo", "rounded px-4
        object-cover object-center" %} {% Image "images/beratungsraum04.jpg",
        "companyLogo", "rounded px-4 object-cover object-center" %}
      </div>
      <p class="text-lg">
        Ich biete ebenfalls Beratungen im Rahmen des Betrieblichen
        Gesundheitsmanagement, Fachvorträge oder auch Seminare und Projekte zum
        Thema Gesundheit und Wohlbefinden.
      </p>
    </div>
    <div
      class="flex flex-col lg:w-1/3 p-4 md:p-8 bg-white dark:bg-gray-800 dark:text-gray-300 rounded-lg shadow-xl"
    >
      <h2 class="lg:text-4xl text-2xl mb-5 font-extrabold">
        Wem oder Wann kann eine Beratung Ihnen helfen?
      </h2>
      <ul>
        <li class="flex items-center mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="flex-none w-6 h-6 mr-4 text-{{ color }}"
          >
            <path fill="currentColor" d="M12 13H4v-2h8V4l8 8-8 8v-7z" /></svg
          >Säuglinge und Kleinkinder
        </li>
        <li class="flex items-center mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="flex-none w-6 h-6 mr-4 text-{{ color }}"
          >
            <path fill="currentColor" d="M12 13H4v-2h8V4l8 8-8 8v-7z" /></svg
          >Schwangere und Stillende
        </li>
        <li class="flex items-center mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="flex-none w-6 h-6 mr-4 text-{{ color }}"
          >
            <path fill="currentColor" d="M12 13H4v-2h8V4l8 8-8 8v-7z" /></svg
          >Kinder und Jugendliche
        </li>
        <li class="flex items-center mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="flex-none w-6 h-6 mr-4 text-{{ color }}"
          >
            <path fill="currentColor" d="M12 13H4v-2h8V4l8 8-8 8v-7z" /></svg
          >Sportler, sowie gesundheitsbewusste Senioren
        </li>
        <li class="flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="flex-none w-6 h-6 mr-4 text-{{ color }}"
          >
            <path fill="currentColor" d="M12 13H4v-2h8V4l8 8-8 8v-7z" /></svg
          >bei starker Beanspruchung in Berufs- und Privatleben
        </li>
      </ul>
      <button
        class="inline-flex justify-center text-gray-100 bg-{{
          color
        }} mt-5 border-0 text-base py-2 px-3 lg:px-8 focus:outline-none hover:bg-{{
          color
        }} rounded-full lg:text-lg"
      >
        Termin vereinbaren
      </button>
    </div>
  </div>
</section>

{% include "services.njk" %}
