<section class="md:py-16 py-8 bg-white dark:bg-gray-800 mb-8">
  <div class="flex flex-col text-center w-full mb-8">
    <h1 class="text-xl text-gray-800 dark:text-gray-200 mb-2">
      <a id="services">Kooperationen & Mitgliedschaften</a>
    </h1>
  </div>
  <div class="max-w-screen-lg mx-auto flex flex-wrap justify-between">
    <div
      class="w-2/6 sm:w-1/6 py-2 px-4 flex justify-center items-center dark:hidden"
    >
      {% Image "images/companies/avd-light.png", "companyLogo", "object-contain
      object-center max-h-12 opacity-75" %}
    </div>
    <div
      class="w-2/6 sm:w-1/6 py-2 px-4 justify-center items-center hidden dark:flex"
    >
      {% Image "images/companies/avd-dark.png", "companyLogo", "object-contain
      object-center max-h-12 opacity-75" %}
    </div>

    <div
      class="w-2/6 sm:w-1/6 py-2 px-4 flex justify-center items-center dark:hidden"
    >
      {% Image "images/companies/dsp-light.png", "companyLogo", "object-contain
      object-center max-h-12 opacity-75" %}
    </div>
    <div
      class="w-2/6 sm:w-1/6 py-2 px-4 justify-center items-center hidden dark:flex"
    >
      {% Image "images/companies/dsp-dark.png", "companyLogo", "object-contain
      object-center max-h-12 opacity-75" %}
    </div>

    <div
      class="w-2/6 sm:w-1/6 py-2 px-4 flex justify-center items-center dark:hidden"
    >
      {% Image "images/companies/daab-light.png", "companyLogo", "object-contain
      object-center max-h-12 opacity-75" %}
    </div>
    <div
      class="w-2/6 sm:w-1/6 py-2 px-4 justify-center items-center hidden dark:flex"
    >
      {% Image "images/companies/daab-dark.png", "companyLogo", "object-contain
      object-center max-h-12 opacity-75" %}
    </div>

    <div
      class="w-2/6 sm:w-1/6 py-2 px-4 flex justify-center items-center dark:hidden"
    >
      {% Image "images/companies/dzg-light.png", "companyLogo", "object-contain
      object-center max-h-12 opacity-75" %}
    </div>
    <div
      class="w-2/6 sm:w-1/6 py-2 px-4 justify-center items-center hidden dark:flex"
    >
      {% Image "images/companies/dzg-dark.png", "companyLogo", "object-contain
      object-center max-h-12 opacity-75" %}
    </div>

    <div
      class="w-2/6 sm:w-1/6 py-2 px-4 flex justify-center items-center dark:hidden"
    >
      {% Image "images/companies/iccompany-light.png", "companyLogo",
      "object-contain object-center max-h-12 opacity-75" %}
    </div>
    <div
      class="w-2/6 sm:w-1/6 py-2 px-4 justify-center items-center hidden dark:flex"
    >
      {% Image "images/companies/iccompany-dark.png", "companyLogo",
      "object-contain object-center max-h-12 opacity-75" %}
    </div>

    <div
      class="w-2/6 sm:w-1/6 py-2 px-4 flex justify-center items-center dark:hidden"
    >
      {% Image "images/companies/vdd-light.png", "companyLogo", "object-contain
      object-center max-h-12 opacity-75" %}
    </div>
    <div
      class="w-2/6 sm:w-1/6 py-2 px-4 justify-center items-center hidden dark:flex"
    >
      {% Image "images/companies/vdd-dark.png", "companyLogo", "object-contain
      object-center max-h-12 opacity-75" %}
    </div>
  </div>
</section>
