<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }} - {{ meta.title }}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
    />
    {% include "meta.njk" %} {% include "fonts.njk" %}
    <link rel="stylesheet" href="/style.css?v={% version %}" />
    <script src="/js/alpine.js?v={% version %}"></script>
  </head>
  <body class="bg-gray-50 dark:bg-gray-900 font-sans">
    {% include "header.njk" %}
    {{ content | safe }}
    {% include "footer.njk" %}

    <script type="module" async>
      import Lazyload from "https://cdn.skypack.dev/vanilla-lazyload";
      const lazyload = new Lazyload();
    </script>
  </body>
</html>
