<link
  rel="preload"
  as="font"
  type="font/woff2"
  href="../fonts/work-sans-v8-latin-800.woff2"
  crossorigin
/>
<link
  rel="preload"
  as="font"
  type="font/woff2"
  href="../fonts/work-sans-v8-latin-regular.woff2"
  crossorigin
/>
