<footer class="text-gray-100 bg-gray-800">
  <div
    class="container px-5 py-24 mx-auto flex items-center lg:items-start lg:flex-row flex-col"
  >
    <div
      class="w-2/4 lg:w-2/4 flex-shrink-0 lg:mx-0 mx-auto text-center lg:text-left"
    >
      <img
        src="/images/logo-light.svg"
        alt="Ute Becker Ernährungsberatung Logo"
        width="240px"
        height="68px"
      />
      <p class="mt-4 text-gray-400">
        Durch die Zertifizierungen bei der DGE* bin ich bei Krankenkassen
        anerkannt und arbeite mit Ärzten und Spezialisten aus anderen
        angrenzenden Fachbereichen wie Psychologie, Physiotherapie aktiv
        zusammen.
      </p>
    </div>
    <div
      class="flex-grow flex flex-wrap lg:pl-20 -mb-10 lg:mt-0 mt-10 lg:text-left text-center"
    >
      <div class="lg:w-2/4 w-full px-4">
        <h2 class="text-xl font-extrabold text-gray-100 mb-3">Leistungen</h2>
        <nav class="list-none mb-10">
          <div class="mb-2">
            <a class="text-gray-400 hover:text-primary-200" href="/beratung"
              >Ernährungsberatung</a
            >
          </div>
          <div class="mb-2">
            <a class="text-gray-400 hover:text-primary-200" href="/therapie"
              >Ernährungstherapie</a
            >
          </div>
          <div class="mb-2">
            <a
              class="text-gray-400 hover:text-primary-200"
              href="/bioelektrische-impedanzanalyse"
              >Bioelektrische Impedanzanalyse</a
            >
          </div>
          <div class="mb-2">
            <a
              class="text-gray-400 hover:text-primary-200"
              href="/betriebliche-gesundheitsfoerderung"
              >Betriebliche Gesundheitsförderung</a
            >
          </div>
        </nav>
      </div>
      <div class="lg:w-2/4 w-full px-4">
        <h2 class="text-xl font-extrabold text-gray-100 mb-3">Sitemap</h2>
        <nav class="list-none mb-10">
          <div class="mb-2">
            <a class="text-gray-400 hover:text-primary-200" href="/profil"
              >Profil</a
            >
          </div>
          <div class="mb-2">
            <a class="text-gray-400 hover:text-primary-200" href="/kontakt"
              >Kontaktinformationen</a
            >
          </div>
          <div class="mb-2">
            <a class="text-gray-400 hover:text-primary-200" href="/datenschutz"
              >Datenschutz</a
            >
          </div>
          <div class="mb-2">
            <a class="text-gray-400 hover:text-primary-200" href="/impressum"
              >Impressum</a
            >
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="bg-gray-900">
    <div
      class="container mx-auto py-4 px-5 flex justify-center flex-wrap flex-col sm:flex-row"
    >
      <p class="text-gray-400 text-sm text-center sm:text-left">
        © 2020 Ute Becker
      </p>
    </div>
  </div>
</footer>
