/* work-sans-regular - latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/work-sans-v8-latin-regular.woff2") format("woff2"),
    url("../fonts/work-sans-v8-latin-regular.woff") format("woff");
  font-display: swap;
}
/* work-sans-800 - latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/work-sans-v8-latin-800.woff2") format("woff2"),
    url("../fonts/work-sans-v8-latin-800.woff") format("woff");
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .white {
    color: white;
  }
}

a[href^="http"] {
  word-break: break-all;
}

img.lazy {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
